{% autoescape on %}
Hello {{ user.first_name }},

We received a request to reset the password for your account associated with this email address.

If you made this request, you can reset your password by clicking the button below:

<a href="https://hockey-baseball-backend.venturisoft.com/?uidb64={{ uid }}&amp;token={{ token }}"
    style="background-color: red; color: white; border-radius: 50%; text-decoration-line: none; height: 2rem;">Reset Password</a>

(or paste the link below into your browser)

<a href="https://hockey-baseball-backend.venturisoft.com/?uidb64={{ uid }}&amp;token={{ token }}">https://hockey-baseball-backend.venturisoft.com/?uidb64={{ uid }}&amp;token={{ token }}</a>

This link will expire in 30 minutes for your security.

If you didn’t request a password reset, you can safely ignore this email — no changes will be made to your account.

Thanks,
The Slapshot Labs Team
{% endautoescape %}